VITE_MTPROTO_HAS_HTTP=
VITE_MTPROTO_HAS_WS=1
VITE_MTPROTO_CUSTOM_WS_URL=ws://127.0.0.1:11443
VITE_MTPROTO_CUSTOM_HTTP_URL=
VITE_MTPROTO_CUSTOM_RSA_PUBLIC_KEYS=[{"modulus":"<teamgram-modulus-hex>","exponent":"010001"}]
